*.egg-info/
src/seisforge/hvsr/_hvsr_fortran*.so
src/seisforge/hvsr/_hvsr_fortran*.pyd
notebook/
*/**/*.ipynb
!examples/AFTAN/compare.ipynb
tests/**/*.png
tests/**/*.nc
tests/**/*.log
*/**/__pycache__/
*.vscode/
examples/STA001/*
